html {
  --almost-black: hsl(0, 0%, 8%);
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--almost-white);
  color: var(--medium-gray);
  font-family: "Epilogue", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  color: var(--almost-black);
}

.main-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 375px;
  position: relative;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 15px;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
  background-color: var(--almost-black);
  display: block;
}

.hamburger-menu {
  height: 2px;
  position: relative;
  width: 32px;
}

.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.hamburger-menu::before {
  top: -8px;
}

.hamburger-menu::after {
  top: 8px;
}

.blur {
  background-color: var(--medium-gray);
  opacity: 0.6;
}

.nav-menu {
  background-color: var(--almost-white);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  position: absolute;
  right: 0;
  top: 0;
  width: 64%;
}

.nav-menu-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 37px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.nav-row {
  display: flex;
  gap: 13px;
  justify-content: flex-start;
}

.nav-expansion-one,
.nav-expansion-two {
  padding-left: 23px;
}

.hero-img-mobile {
  margin-bottom: 50px;
  width: 100%;
}

.main-section {
  text-align: center;
}

.main-header {
  margin: 0 auto 32px;
  width: max-content;
}

.main-text {
  line-height: 1.6;
  margin-bottom: 33px;
}

.main-button {
  background-color: var(--almost-black);
  border: 1px solid var(--almost-black);
  border-radius: 15px;
  color: var(--almost-white);
  display: inline-block;
  margin-bottom: 48px;
  padding: 17px 21px 19px 25px;
}

.footer {
  align-items: center;
  display: flex;
  gap: 28px;
  justify-content: space-between;
  margin-bottom: 94px;
  padding: 0 15px;
}

.footer-img {
  width: 19%;
}

.hide {
  display: none;
}

@media (min-width: 900px) {
  .card-container {
    max-width: 1360px;
  }

  .header {
    padding-bottom: 0;
  }

  .hamburger-menu,
  .nav-menu-row {
    display: none;
  }

  .nav-menu {
    background-color: var(--almost-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 25px;
    position: static;
    width: 100%;
  }

  .nav {
    align-items: center;
    flex-direction: row;
    position: relative;
  }

  .arrow:hover {
    cursor: pointer;
  }

  .nav-expansion-one,
  .nav-expansion-two {
    align-items: flex-start;
    background-color: #fff;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    position: absolute;
    top: 35px;
  }

  .nav-expansion-two {
    left: 175px;
  }

  .nav-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .nav a:hover,
  .nav-buttons a:hover {
    color: var(--almost-black);
    cursor: pointer;
  }

  .register {
    border: 2px solid var(--medium-gray);
    border-radius: 14px;
    margin-left: 24px;
    padding: 12px 22px;
  }

  .register:hover {
    border-color: var(--almost-black);
  }

  .main-section {
    display: flex;
    margin: 70px 0 100px;
  }

  .main-section-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    order: 1;
    padding: 105px 130px 0;
    text-align: left;
  }

  .hero-img-mobile {
    display: none;
  }

  .main-section-image {
    order: 2;
  }

  .hero-img-desktop {
    display: block;
    /* height: 100%; */
    width: 100%;
  }

  .main-header {
    font-size: 80px;
    margin: 0;
  }

  .lg-screen-header {
    display: block;
  }

  .main-text {
    margin: 70px 0 0;
    width: 80%;
  }

  .main-button {
    margin: 56px 0 0;
    width: 162px;
  }

  .main-button:hover {
    background-color: var(--almost-white);
    border-color: var(--almost-black);
    color: var(--almost-black);
  }

  .footer {
    margin: 108px 0 0;
  }
}
