html {
  --almost-black: hsl(0, 0%, 8%);
  --almost-white: hsl(0, 0%, 98%);
  --blur: #505050;
  --medium-gray: hsl(0, 0%, 41%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--almost-white);
  color: var(--medium-gray);
  font-family: "Epilogue", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--almost-black);
  font-weight: 700;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 375px;
  position: relative;
}

.header {
  align-items: center;
  display: flex;
  height: 57px;
  justify-content: space-between;
  padding: 0 0.8333em;
  position: fixed;
  top: 0;
  width: 100%;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
  background-color: var(--almost-black);
  display: block;
}

.hamburger-menu {
  height: 2px;
  position: relative;
  width: 32px;
}

.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.hamburger-menu::before {
  top: -8px;
}

.hamburger-menu::after {
  top: 8px;
}

.blur {
  background-color: var(--blur);
}

.mobile-nav-menu {
  background-color: var(--almost-white);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1.11em 1.388em;
  position: fixed;
  right: 100%;
  top: 0;
  width: 64%;
}

.mobile-nav-menu-appear {
  right: 0;
}

.mobile-nav-menu-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.05em;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 1.66em;
  justify-content: space-between;
}

.mobile-nav-row {
  align-items: center;
  display: flex;
  gap: 0.72em;
  justify-content: flex-start;
}

.arrow {
  height: 5px;
  width: 10px;
  transition: all 250ms ease-in-out;
}

.arrow-rotate {
  transform: rotate(180deg);
}

.nav-expansion-features,
.nav-expansion-company {
  padding-left: 1.277em;
}

.hero-img-mobile {
  margin-bottom: 2.77em;
  width: 100%;
}

.main-section {
  text-align: center;
  padding-top: 3.166em;
}

.main-section-header,
.main-section-text {
  padding: 0 1.11em;
}

.main-header {
  font-size: 2.1875rem;
  width: max-content;
}

.main-text {
  line-height: 1.6;
  margin: 1.77em 0 1.83em;
}

.main-button {
  background-color: var(--almost-black);
  border: 1px solid var(--almost-black);
  border-radius: 0.83em;
  color: var(--almost-white);
  display: inline-block;
  margin-bottom: 2.66em;
  padding: 0.94em 1.16em 1.05em 1.38em;
}

.footer {
  align-items: center;
  display: flex;
  gap: 1.55em;
  justify-content: space-between;
  padding: 0 0.83em 5.22em;
}

.footer-img {
  width: 19%;
}

.hide {
  display: none;
}

@media (min-width: 900px) {
  .blur {
    background-color: var(--almost-white);
    opacity: 1;
  }

  .mobile-nav-menu-appear {
    right: 100%;
  }

  .card-container {
    max-width: 1360px;
  }

  .header {
    height: 75px;
    justify-content: flex-start;
    padding: 0 2.22em;
  }

  .hamburger-menu,
  .nav-menu-row {
    display: none;
  }

  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3.44em;
    width: 100%;
  }

  .nav-row {
    align-items: center;
    display: flex;
    gap: 0.44em;
  }

  .nav-row-one,
  .nav-row-two {
    gap: 2.22em;
  }

  .nav-row-one {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .arrow:hover {
    cursor: pointer;
  }

  .nav-expansion-features.hide,
  .nav-expansion-company.hide {
    display: none;
  }

  .nav-expansion-features,
  .nav-expansion-company {
    align-items: flex-start;
    display: flex;
    background-color: #fff;
    border-radius: 0.88em;
    flex-direction: column;
    gap: 1.11em;
    padding: 1.38em;
    position: absolute;
    top: 55px;
  }

  .nav-expansion-features {
    left: 120px;
  }

  .nav-expansion-company {
    left: 335px;
  }

  .nav-row-two {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .nav a:hover,
  .nav-buttons a:hover {
    color: var(--almost-black);
    cursor: pointer;
  }

  .register {
    border: 2px solid var(--medium-gray);
    border-radius: 0.77em;
    padding: 0.66em 1.22em;
  }

  .register:hover {
    border-color: var(--almost-black);
  }

  .main-section {
    display: flex;
    justify-content: space-between;
    padding: 7.77em 7.11em 6.05em;
  }

  .main-section-text {
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 5.83em 7.77em 0 0;
    text-align: left;
  }

  .hero-img-mobile {
    display: none;
  }

  .main-section-image {
    flex-shrink: 0;
    max-width: 482px;
    order: 2;
  }

  .hero-img-desktop {
    display: block;
    width: 100%;
  }

  .main-header {
    font-size: 5rem;
    margin: 0;
  }

  .lg-screen-header {
    display: block;
  }

  .main-text {
    margin: 3.88em 0 0;
    width: 80%;
  }

  .main-button {
    margin: 3.11em 0 0;
    width: 31%;
  }

  .main-button:hover {
    background-color: var(--almost-white);
    border-color: var(--almost-black);
    color: var(--almost-black);
  }

  .footer {
    justify-content: flex-start;
    margin: 6em 0 0;
    padding: 0 0.83em;
  }
}
